<p>
  Entstanden nach einer Idee von Dominik, entwickelt von <a style="font-weight: normal" href="mailto:feedback@bojomuto.de">Simon</a> :-)
</p>
<p>Unter Verwendung von
<ul>
  <li><a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a></li>
  <li><a href="http://rubyonrails.org">Ruby on Rails</a></li>
  <li><a href="https://github.com/andi/simple-navigation">Simple Navigation</a></li>
  <li><a href="https://github.com/mislav/will_paginate/wiki">will_paginate</a></li>
  <li><a href="http://www.highcharts.com/">Highcharts</a></li>
  <li><a href="http://rosettacode.org/wiki/Polynomial_regression#Ruby">Ausgleichskurve</a></li>
</ul>
</p>
