Entstanden nach einer Idee von Dominik, entwickelt von <a style="font-weight: normal" href="mailto:koenig@bojomuto.de">Simon</a> :-)

<h1>Verwendete Software</h1>
<ul>
  <li><a style="font-weight: normal" href="http://rubyonrails.org">Ruby on Rails</a></li>
  <li><a style="font-weight: normal" href="https://github.com/andi/simple-navigation">Simple Navigation</a></li>
  <li><a style="font-weight: normal" href="https://github.com/mislav/will_paginate/wiki">will_paginate</a></li>

  <li><a style="font-weight: normal" href="http://www.highcharts.com/">Highcharts</a></li>
  <li><a style="font-weight: normal" href="http://rosettacode.org/wiki/Polynomial_regression#Ruby">Ausgleichskurve</a></li>
</ul>
