<table style="border: 0px;">
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to 'Bearbeiten', edit_admin_category_path(category) %></td>
      <td><%= link_to 'Löschen', [:admin, category], :method => :delete %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="10" style="text-align: right">
      <%= link_to "Neue Kategorie", :action => :new %>
    </td>
  </tr>
</table>
