<table class="table">
  <tr>
    <th>Datum</th>
    <th>Startseite</th>
    <th>IP</th>
    <th>Land</th>
    <th>Region</th>
    <th>Stadt</th>
    <th>PLZ</th>
    <th></th>
  </tr>
  <% @visits.each do |v| %>
  <tr class="<%= "well" if v.admin_events.count == 0 %>">
    <td><%= v.started_at.to_s %></td>
    <td><%= v.landing_page %></td>
    <td><%= v.ip %></td>
    <td><%= v.country %></td>
    <td><%= v.region %></td>
    <td><%= v.city %></td>
    <td><%= v.postal_code %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'View details', admin_stat_path(v), class: 'btn btn-primary' %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
